version: "3.9"
services:
    blog-database:
        image: mongo
        ports:
            - "27017:27017"
    blog-backend:
        build: backend/
        environment:
            - PORT=3001
            - DATABASE_URL=mongodb://recipe-database:27017/recipe-list
        ports:
            - "3001:3001"
        depends_on:
            - recipe-list-database
    blog-frontend:
        build:
            context: .
            args:
                VITE_BACKEND_URL: https://redesigned-space-xylophone-rjx9q9wrp4q25q56.-3001.app.github.dev/api/v1
        ports:
            - "3000:80"
        depends_on:
            - recipe-list-backend
